@charset "utf-8";
@namespace url(http://www.w3.org/1999/xhtml);

/*
Name: Adblock.css debug
Author: ELV1S and Adblock Team
Description: http://code.google.com/p/adblock/
*/


/* Advertising agencies
-------------------------------- */

/* Google AdSense */
[id*='adsense'],
[href*='pagead'], [src*='pagead'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* Google AdWords */
[id^='google_ads_div_'][id$='_ad_container'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* Yandex */
[id*='_direct'],
[id*='y5_market'],
[class*='textAd'],
[href*='an.yandex.ru'], [src*='an.yandex.ru'],
[src*='narod.ru/counter.'],
[href*='logging.to/'],
.ad-market, .ads-header,
.go-ad, .b-yadirect {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* Begun */
[href*='begun.'], [src*='begun.ru'],
[id*='adText'],
[id*='adBegun'],
[id*='adBar'],
.begun_adv {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* sup.ru */
[id*='sup_ad'],
[src*='ads.sup.'],
.sup_ad,
.ljad {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* adfox.ru */
[href*='.adfox.'], [src*='.adfox.'],
[href*='/adfox/'], [src*='/adfox/'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* tak.ru */
[href*='tak.ru/clicks.php'], [src*='takru.com/in.php?'],
.takru {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* advertise.magna.ru */
#magnaInformer {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* giga-files.net */
h2[style='background: green;color: #ffffff; margin: 0 auto; padding: 5px 0 5px 20px;font-size: 16px; font-weight: normal;'],
dl[style='display: block; background-color: #ffffff; border-bottom: solid 1px #F5DFD6; padding: 8px 0; margin:0;'],
a[href^='http://giga-files.net/'],
/* vskachke.com */
div[onMouseOver="this.style.backgroundColor='#ffe400'"][onMouseOut="this.style.backgroundColor='#fff7b6'"], /* vskachke.com: softnewsportal.ru */
[cllpadding='0'],
a[href*='/vskachke.com/'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* icqwindow.net */
[id*='okno_icqwindow'],
[id^='icqwin_advmaker'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* maxizakachka.ru and other */
[onmouseout="this.style.background = '#FFF8B5';"][onmouseover="this.style.background='#FAFF58';"],
.bc_adv_container {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* AdRiver */
[id*='ad_ph_2'],
[src*='195.214.194.1/'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* job.ukr.net */
.job-block {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}


/* MEDIUM */
[href^='http://ad.'], [src^='http://ad.'],
[href*='.com/?user_id='], [href*='.net/?user_id='],
[href*='/ad_cache/'], [src*='/ad_cache/'],
[href*='/in.cgi?'],                                         /* thetraffic.ru */
[href*='/adframe'], [src*='/adframe/'],
[href*='extrabucks.ru'],
[href*='.com/s.php?f='],                                    /* bezwareza.com */
[href*='/adult/go.php?sid='],                               /* blackmanos.org.ru */
[href*='/partner/'], [href*='/partners/'],
[href*='/2advert.'],
[href*='/ads/'], [src*='/ads/'], [src*='_ads.'], [src^='http://ads.'],
[href*='/adx/'], [src*='/adx/'],
[href*='/ban/'],
[href*='/ban.'], [src*='/ban.'],
[href*='banners/'], [src*='banners/'],
[href*='/reklama/'], [src*='/reklama/'],
[href*='/reclama/'], [src*='/reclama/'],
[href*='/rekl/'], [src*='/rekl/'],
[href*='/reklama_'],                                        /* netzor.org */
[href*='/adserver'], [src*='adserver'],
[href*='/adfarm.'], [src*='/adfarm.'],
[href*='/adv.'], [src*='/adv.'],
[href*='?partner='],
[href*='ads.com/?ref '],
[href*='/cgi-bin/href/'], [src*='/cgi-bin/iframe/'],
[href*='adbrite'], [src*='adbrite'],
[href*='/adnet/'], [src*='/adnet/'],
[href*='/ad.ad'], [src*='/ad.ad'],
[href*='/adclick'], [src*='/adclick'],
[href*='adclick.'],
[href*='showclick.'],
[href*='clickcount'],
[href*='/counter/referrer?'],
[href*='/adlog.pl'],
[href*='banner.php'], [src*='banner.php'],
[src*='icq_banners'],
[src*='/adview.php'],
[href*='/ban_click.'],
[href*='rtbn'],
[src*='sticker.yadro.ru'],
[src*='banner_'],
[src*='ad.php?id='],
[src*='streameye.net'],                                     /* soccer.ru */
[href*='biglion'],                                          /* nnm-club.ru */
[href*='www/delivery/ck.php'], [src*='www/delivery/lg.php'] { /* OpenX */
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* ADVERTISING SITES */
[href^='http://ad.admitad.com'],
[href^='http://www.FriendlyDuck.com/'], [src*='.FriendlyDuck.com/'],
[href*='.shareresults.com/'], [src*='.shareresults.com/'],
[href^='http://edelstarus.ru/'],
[href^='http://www.cdsuper.ru/'],
[href^='http://gagen.ru/'],
[href^='http://alphacash.biz/'],
[href^='http://www.webkazanc.com/'],
[href^='http://kf-forex.ru/'],
[href^='http://7dvd.ru/'],
[href^='http://www.smart-soft.ru/'],
[href*='grand-casino.com'],
[href*='.evgenyfedorenko.com/'],
[href*='http://traffic'], [href*='http://www.traffic'],     /* traffic-checker.com/ */
[href^='http://affiliate.'],
[src*='8coins.net/'],
[href*='doubleclick.net'], [src*='doubleclick.net'],
[href*='www.xtremetop100.com'], [src*='www.xtremetop100.com'],
[href*='luxup.ru'], [src*='luxup.ru'],
[href*='teasernet.com'], [src*='teasernet.com'],
[src*='.lacest.com'],
[href*='teasernet.ru'], [src*='teasernet.ru'],
[href*='78.140.145.178'], [src*='78.140.145.178'],
[href*='atdmt.com'], [src*='atdmt.com'],
[href*='adultfriendfinder.com'],
[href*='100-100.ru'], [src*='100-100.ru'],
[href*='ad.rambler.ru/'],
[href*='abn-ad.com'],
[href*='filepost.ru'],
[href*='tbn.ru'], [src*='tbn.ru'],
[href*='clx.ru/in'],
[href*='jbe.ru/'],
[href*='link.ru/cgi-bin/'], [src*='link.link.ru/show?'],
[href*='grandcasino.ru/'], [src*='grandcasino.ru'],
[href*='dyxi.ru/'], [src*='dyxi.ru/'],
[href*='razno.ru/'], [src*='razno.ru/'],
[href*='ru.redtram.com'], [src*='img.ru.redtram.com'],
[href*='bannerbank.ru'],
[href*='adriver.ru'], [src*='adriver'],
[href*='mirmaek.ru'],
[href*='vsemayki.ru'],
[href*='24open.ru/?from'],
[href*='pink.futurico.ru'], [src*='pink.futurico.ru'],
[href*='advmaker.ru'], [src*='advmaker.ru'],
[href*='rorer.ru'], [src*='rorer.ru'],
[href*='new-popups.ru'], [src*='new-popups.ru'],
[href*='sekretfamilii.com'],
[href*='tayna-family.ru'],
[href*='nordfx.com'], [src*='nordfx.com'],
[href*='limit-poker-club.net'], [src*='limit-poker-club.net'],
[href*='investoday-monitor.ru'], [src*='investoday-monitor.ru'],
[href*='rushotgirls.com'], [src*='rushotgirls.com'],
[href*='sape.ru/r'], [src*='sape.ru/r'],
[href*='bin-layer.'], [src*='bin-layer.'],
[href*='visitweb.com'], [src*='visitweb.com'],
[href*='bannerbank.ru'], [src*='bannerbank.ru'],
[href*='iphone4all.ru'], [src*='iphone4all.ru'],
[href*='bw.pronto.ru'], [src*='bw.pronto.ru'],
[href*='partnerearning.com'], [src*='partnerearning.com'],
[href*='tradedoubler.com'], [src*='tradedoubler.com'],
[href*='banner.ua'], [src*='banner.ua'],
[href*='post.rmbn.ru'], [src*='post.rmbn.ru'],              /* lib.aldebaran.ru */
[src*='banner.unian.net'],
[href*='engine.rbc.medialand.ru'],
[src*='b.c8.net.ua'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}



/* Advertising on certain sites
-------------------------------- */

/* Google Sponsored Links */
[class='ch '][onclick='ga(this,event)'],
#bottomads,
#topads,
#tads,
#mbEnd {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* Gmail */
.mn[role='contentinfo'], .u5, .u8 {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* Wired.com */
#FLASH_AD,
#flash_ad,
#stereo1,
#stereo2 {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* yahoo.com, reddit.com */
#ad, #ad-out, #ad-in {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* deviantart.com */
.ultrabag,
div[gmi-name='ad_zone'],
iframe[src*='adsrv.deviantart.com'],
#gmi-ResourcePageMetaPane div[style='position: relative;'],
#gmi-ResourcePageMetaPane .c,
.ad-blocking-makes-fella-confused,
.sleekadbubble.section.ch,
.h.left-sidebar {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* Vkontakte.ru */
#banner1,
#banner2,
.ad_box,
.ad_box_new,
[id*='profile_photos'],                                               /* убирает box с фотками над стеной */
[href*='/friends?section=all'] + div, [href*='/friends?section=all'], /* убирает вкладку "Друзья", оставляя вкладку "Друзья-онлайн" */
[href*='/ads.php?section=target']                                     /*убирает надпись "Что это?" под рекламой вконтакте*/ {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* rutracker.org */
[src*='b.ddestiny.ru'],
embed[width*='200'][height*='300'],
#bn-bot-wrap {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* Ucoz.ru */
/*a[onclick*="('none');return false;"], iframe[width='218'], iframe[width='220'],*/
body > div[id^='pa'] > table[class^='ca'][id^='a'][style^='z-index:10000;'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* Ucoz.ru AGGRESSIVE! */
/*
#_uwndTop1 {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}
*/

/* iFolder.ru */
#FlashDiv,
.side_ban *,
[href*='testsbox.ru'], [src*='testsbox.ru'],
[style*='width: 833px; height: 501px; top: 20px; z-index: 100000; position: fixed; display: block; left: 20px'],
[style*='position: absolute; left: 212px; top: 150px; width: 600px; height: 400px; z-index: 65535;'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}
#b-main {
	background: none !important;
}
#b-header-in {
	height: 60px !important;
}

/* nnm.ru */
#top-banner,
[href*='tours.ru'], [src*='tours.ru'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* fast-torrent.ru */
#add .ad {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* ru-board.com */
table[bgcolor='#FFFFFF'][border='1'][bordercolor='#EEEEEE'][width='640'],
table[bgcolor='#FFFFFF'][border='1'][bordercolor='#EEEEEE'][width='639'],
td[class='sh1'][align='left'],
[href^='http://thegreenppc.com/'],
[href*='greenparking.biz'],
[href*='greenlabelppc.com'],
[href*='/infoads.cgi'],
[href*='ru-traffic.com/'], [src*='ru-traffic.com/'],
[href*='komendant.net'],
[href*='firstdedic.ru'],
[href*='firstvds.ru'],
[href*='ispserver.com'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* livejournal.com */
#ad-leaderboard,
#ad-5linkunit,
.h-adv-box,
.adv-box {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* www.terrikon.dn.ua */
.adv468 {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* pochta.ru */
#tionline,
#love4 {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* ixbt.com */
[src*='rose.ixbt.com'],
#flow .offer,
.dostavka_wrapper,
td[valign='top'][style='padding-right: 4px; width:14%; max-width: 240px;'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* consultant.ru */
#top_banner {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* vremenno.net */
.sponsorsBanners {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* ura-inform.com */
#mg-popup,
iframe[width='300'][height='225'],
iframe[width='160'][height='60'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* depositfiles.com */
div.sidebar.sidebar_right > div.zhMain {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* www.freesha.ru */
#hiderekl > .quote > div[align='center'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* all-ebooks.com, journal.knigka.info */
#mc_100x_90,
#dle-content table[style='border:2px solid green;font-size:14px;background-color:white'],
noindex table[width='76%'][height='227'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* rl-team.net */
[style^='position:fixed; top:263px; left:28%; margin:0; padding:0; Z-INDEX: 2147483647;'],
.border_all.rlstyle1,
.border_all.tiban,
.ms_inside_block,
[id^='bn_'],
.ms_promo_block {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* dreamprogs.net */
#lfwar > .war {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* price.ru */
#header img[src^='http://b.dclick.ru/'] + table,
#hints.list-block #snippetprice,
img[src*='zuni.tyndex.ru'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* SamLab.ws */
.box.main > div[style='text-align: center; line-height: 100%; width: 99%; border: 1px solid #000; margin: 0 auto;'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* overclockers.ru */
body > div[align='center'] > table[cellpadding='2'][width='100%'] td[align='right'][width='100%'],
body > div[align='center'] div.nou[style='width:700px'] > table[bgcolor='#dddddd'][width='100%'],
div[align='center'] > table[cellpadding='3'][style='border: 1px solid #aaa'],
/*body > div > table[width='100%'][style='height: 60px'],*/
body > div[align='center'] > img[src$='spacer.gif'] + table[height='68'][width='100%'],
body > table.linead[height='68'],
body > div[align='center'] > div[align='center'] > table[height='67'][width='100%'],
table[width^='30'][height='245'][style^='background:#fffff'],
/*table[cellpadding='5'][width='600'][style='border: solid 1px #000000; color:#000000;'],*/
#wrapcentre table[width='100%'][style='border: solid 1px #cc0000'],
/*#wrapcentre table[width='100%'] td[valign='top'][style='width:160px'],*/
table[cellpadding='2'][cellspacing='5'][width='160'][style='border: dotted 1px #777;'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}


/* Welinux.ru */
#promo.google {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* Stopgame.ru */
td[valign='top'][bgcolor='#277CAA'][width='252'][align='left'],
object[width='125'][height='605'],
object[width='470'][height='62'],
.top_banner_960,
.ban468b,
.ban468w {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* Vedomosti.ru */
[src*='/var/bansrc/'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* OpenNET.ru */
[width='468'][height='60TYPE="application/x-shockwave-flash"'],
[width='240'][height='400TYPE="application/x-shockwave-flash"'],
a[href*='lanbilling.ru'],
a[href*='click.opennet.ru'],
#ibm_adv {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* samouchka.net */
[style*='position: fixed; top: 44%; left: 20%; width: 600px; height: 110px;'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* zaycev.net */
.unit-panel,
.unit-sidebar > .box:last-child,
.unit-w > .box.box-nogap,
.unit-content > .unit-w > .box:nth-child(3),
body > div[style^='position: absolute; z-index: 10000;'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* zhmak.info */
div[style='background-color: #343434; border: 3px solid #009dff; width: 100%; height: 100%; text-align: center; z-index: 100001;'],
table[style='border: 2px dashed green;padding:15px 3px;font-size:16px;background-color:#fdfac3;'],
iframe[width='600px'][height='250px'],
[id^='Teaser_Block'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* 4pda.ru */
body > #topnavi,
.contenettextarea td[background*='img.wikimart.ru'],
.search_m_links_c .alinks {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* macosworld.ru */
img[src^='http://macosworld.ru'][width='970'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* imhonet.ru */
[href*='imhopromo.imhonet.ru'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* nntt.org */
[class='fromNnovExport'],
[class='fromNnovExport fromNnovExportFlirt'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* yandex */
.b-spec-adv {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* linux.org.ru */
.newsblog-in > .infoblock,
#bd > .messages img[src^='/adv/'],                          /* ? */
#bd > .messages .infoblock {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* anonymouse.org */
#mouselayer.mouselayer {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* unixforum.org */
#baner_eter {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* free-torrents.org */
#sidebar1 > #sidebar1-wrap > table,
#sidebar1 > #sidebar1-wrap > font.text1 .attachtable[cellpadding='0'],
#sidebar1 > center > .attachtable[cellpadding='0'],
.attachtable[style='border: 2px solid #000000;'],
#sidebar2_wrap div[id^='lx_'],
#forums_list_wrap > table[width='100%'],
div[id^='smile_teaser_'],
#page_content td[align='Center'][style='border: 2px solid #000000;'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* film.ru */
div[onclick*='ad.adriver.ru'] {      /* candidate for the common rules section */
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* f1news.ru */
#bannerBlock,                                               /* general ? */
#rightBanner240,                                            /* general as id^=rightBanner ? */
#yad.innerBlock,
#videoadv,                                                  /* general ? */
#newsexch,
#alphabetBlock1 span.letter > a[href^='/travels/'],
#alphabetBlock1 span.letter > b,
.footerBlock #footer1 {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}
/* f1news kaspersky ads */
/*#allDiv > #top_pan,                                         
img[src^='/images/icons/layout_rev_kis/'],
.indexColAll,
.indexColAll + div[style^='height:60px;margin:-59px -20px 0 -20px'],
div[style*='background:url(/images/kis/kis_news_wide_'],
.kisGallery {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}
body[onload='kingsize()'][onresize='kingsize()'],
body[onload='kingsize()'][onresize='kingsize()'] > #allDiv {
	background: #f99 !important
}*/

/* cnews.ru */
#banner950x60,                                            /* [id^='banner'] ? */
#banner170x280,
#banner300x250,
#cnews_center,
#sponsor_for_main,
#adv_block,
#right .sape,
.cnews_cluster,
table[height='79'][cellspacing='8'][width='980'][bgcolor='#fefef3'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* forum.ru-board.com */
table[border='0'][width='95%'][align='center']
	table[cellpadding='0'][cellspacing='0'][bgcolor='#FFFFFF'][border='1'][bordercolor='#EEEEEE'][width='700'],
a[href*='utm_source=ru-board'][href*='utm_content='],       /* 'utm_content=', 'utm_source=' common? */
img[src*='i.ru-board.com/temp'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* imdb.com */
#top_rhs_after,
div[class='dfp_slot'][id$='_wrapper'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* cdcovers.cc */
td[width='196'] > table.contentBox:last-child,
td[align='center'][valign='top'] > div#rightBanner,
#main > table[width='994'][align='center']:nth-child(2) > tbody > tr:first-child table[width='794']:nth-child(2),
#main > table[width='994'][align='center']:nth-child(2) > tbody > tr:last-child table[width='794'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* pravda.com.ua */
.fblock div[class^='banner'],
div[id*='flbanner'] > div[id*='bannerflashcontent'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* live.com */
.Ad300x250,
td.SideAdCol,                                               /* "Добавить к контактам" */
.h_rightcolumn > .h_crm,
.h_rightcolumn > .h_msncontent,
div[class^='Crm'] > div[id^='Crm'] > div[id^='Crm'],
div[class^='Crm'][class$='Container'],
.SkyscraperContainer,
.Managed #SkyscraperContent,
#skyScraperContainer.skyScraper {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}
/* mail.live.com */
.Managed #MainContent {
	right: 0px !important
}
/* calendar.live.com */
#bodyContainer > #calendarViewsContainer {
	margin-right: 0px !important
}

/* freshmeat.net */
.banner-sky > .google_afc {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* mmotop.ru */
div[class='ban-border'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* lurkmore.ru */
p[class='ads_left'],
div[id*='teasernet'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* segodnya.ua */
.right > .r_ad,
.sponsor_bar,
.ah-stuff-informer,
.ks_art_border,
div[class^='snBody'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* ngs.ru */
.xozqcv,
#divwidth #logos,
#top-menu-logos .clients,
#divwidth #fashion-promo,
.tablesurround #logo_banners,
#left-column ul.firm-logos,
#left-column ul.links > li.first,
#allcontent > table[id|='logo'],
div#clients[container='yes'][level='1'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* aimp.ru */
#page_body > #page_content #page_block:last-child > #block {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* mail.ru */
.partnerka_top {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* wowlol.ru*/
#wrapper > #topbox {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}


/* AGGRESSIVE! */
/*
[href*='/bn.'], [src*='/bn.'],
[href*='/ban'],
[href*='/ads'],
[href*='/adv'],
[href*='/counter'], [src*='/counter'],
[href*='counter'],
[href*='/count.'], [src*='/count.'],
[href*='commerce'],
[href*='purchase'],
[href*='/redirect.'],
[href*='/rich'],
[href*='/traf'],
[href*='/ref'],
[href*='/clk'],
[href*='click.'],
[src*='click'],
[href*='pay.asp'],
[href*='?page='],
[href*='partner='],
[href*='li.ru/go?'],
[src*='r.mail.ru/b'],
[href*='yandex.ru/cy?'],
[href*='r.mail.ru/n'],
[href*='forex'],
[src*='/ban/'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}
*/

/* Counters */
/*
[href*='top100.rambler.ru/cgi-bin/'], [src*='rambler.ru/top100'],
[src*='www.yandex.ru/cycounter'],
[href*='top.mail.ru/jump?'],
[href*='top.list.ru/jump?'], [src*='top.list.ru'],
[href*='rax.ru/click'],
[href*='liveinternet.ru/click'], [src*='counter.yadro.ru'],
[href*='spylog.'], [src*='spylog.'],
[href*='click.hotlog.ru'], [src*='.hotlog.ru/cgi'],
[href*='bigmir.net'], [src*='bigmir.net'],
[href*='warlog.info/cgi-bin/'], [src*='warlog.info'],
[href*='a-counter.'], [src*='a-counter.'],
[href*='stat.aport.ru/hit'], [src*='aport.ru/show.pl'],
[href*='top.proext.com/go.cgi?'], [src*='top.proext.com/c.cgi?'],
[href*='topcto.ru'], [src*='topcto.ru'],
[href*='limerex.com'], [src*='limerex.com'],
[href*='tatet.org'], [src*='tatet.org'],
[src*='.mystat-in.net/?'],
[src*='counter.mystat-in.net'],
[src*='counter.hitua.'],
[src*='thelist.ru/stat'],
[href*='openstat.ru'], [src*='openstat.net'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}
*/



/* Hidecertainsizes.css
-------------------------------- */

/* MEDIUM */
[width='80'][height='15'],
[width='80'][height='150'],
[width='88'][height='31'],
[width='120'][height='240'],
[width='120'][height='600'],
[width='160'][height='80'],
[width='160'][height='240'],
[width='160'][height='600'],
[width='234'][height='60'],
[width='234'][height='200'],                                /* mail.ru */
[width='240'][height='350'],                                /* epravda.com.ua */
[width='300'][height='250'],
[width='336'][height='280'],
[width='392'][height='72'],
[width='468'][height='15'],
[width='468'][height='60'],
[width='468'][height='80'],
[width='478'][height='15'],
[width='478'][height='60'],
[width='478'][height='80'],
[width='480'][height='60'],
[width='600'][height='90'],
[width='728'][height='60'],
[width='728'][height='90'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* ONLY CERTAIN HTML-ELEMENTS */
embed[width='100%'][height='90'],
embed[width='100%'][height='60'],
embed[width='960'][height='90'],                            /* news.sportbox.ru */
embed[width='640'][height='80'],
embed[width='468'][height='120'],                           /* playground.ru */
embed[width='240'][height='400'],                           /* playground.ru */
embed[width='150'][height='200'],                           /* playground.ru */
embed[width='120'][height='60'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

iframe[width='100%'][height='280'],                         /* nnm-club.ru */
iframe[width='100%'][height='100'],                         /* zaycev.net */
iframe[width='100%'][height='90'],
iframe[width='999'][height='155'],                          /* samlab.ws */
iframe[width='990'][height='90'],
iframe[width='960'][height='90'],                           /* news.sportbox.ru */
iframe[width='501'][height='60'],                           /* overclockers.ru */
iframe[width='330'][height='240'],
iframe[width='306'][height='142'],
iframe[width='300'][height='125'],                          /* mail.live.com */
iframe[width='240'][height='440'],
iframe[width='240'][height='400'],
iframe[width='206'][height='618'],
iframe[width='150'][height='840'],                          /* rutor.org */
iframe[width='120'][height='60'] {                          /* profile.live.com */
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

img[width='100%'][height='80'],
img[width='1200'][height='70'],                             /* overclockers.ru */
img[width='990'][height='90'],
img[width='960'][height='90'],                              /* news.sportbox.ru */
img[width='840'][height='148'],
img[width='240'][height='400'],                             /* allhockey.ru */
img[width='240'][height='60'],
img[width='269'][height='75'],                              /* playground.ru */
img[width='160'][height='55'],                              /* forum.dubna.ru */
img[width='500'][height='100'],                             /* forum.ru-board.com */
img[width='340'][height='80'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

object[width='105%'][height='90'],                          /* sharereactor.ru */
object[width='100%'][height='240'],
object[width='100%'][height='150'],                         /* lib.aldebaran.ru */
object[width='100%'][height='100'],                         /* zaycev.net */
object[width='100%'][height='90'],
object[width='100%'][height='60'],
object[width='1200'][height='70'],                          /* overclockers.ru */
object[width='1200'][height='60'],
object[width='1000'][height='90'],
object[width='980'][height='60'],
object[width='800'][height='60'],
object[width='716'][height='80'],
object[width='700'][height='90'],
object[width='700'][height='65'],
object[width='600'][height='200'],
object[width='600'][height='160'],                          /* all-ebooks.com */
object[width='597'][height='72'],
object[width='520'][height='102'],
object[width='500'][height='150'],                          /* samlab.ws */
object[width='501'][height='60'],
object[width='480'][height='480'],                          /* samouchka.net */
object[width='469'][height='61'],
object[width='468'][height='70'],
object[width='467'][height='59'],
object[width='430'][height='70'],
object[width='360'][height='60'],
object[width='333'][height='333'],
object[width='315'][height='75'],
object[width='300'][height='300'],                          /* mail.ru */
object[width='240'][height='400'],
object[width='240'][height='200'],
object[width='240'][height='115'],
object[width='234'][height='190'],
object[width='230'][height='30'],                           /* forum.ixbt.com */
object[width='200'][height='200'],
object[width='180'][height='280'],
object[width='150'][height='150'],
object[width='125'][height='600'],                          /* overclockers.ru */
object[width='125'][height='200'],                          /* overclockers.ru */
object[width='120'][height='150'],                          /* sharereactor.ru */
object[width='112'][height='60'],
object[width='100'][height='100'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

/* AGGRESSIVE! */
/*
*[width='700'][height='500'],
*[width='100'][height='100'],
*[width='38'][height='31'],
*[width='31'][height='31'],
img[width='1'][height='1']	{
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}
*/



/* Alt-id-class_block.css
-------------------------------- */

.ads,
.ad_right,
.ad_small,
.adv_src,
.advert,
.advertisement,
.BanBlock,                                                  /* playground.ru */
.banner,
.banner-back,                                               /* klavogonki.ru */
.banner1,
.banner_f,
.banner_block,                                              /* macosworld.ru */
.banner_rotater,
.bannerHead,                                                /* rbcdaily.ru */
.banners24open,
.bannerspec,
.ban,                                                       /* stolitsa.glavred.info */
.block-banner,                                              /* glavred.info */
.b-adwrapper,                                               /* yandex.ru */
.company-banner,                                            /* habrahabr.ru */
.go-ad-top,
.LeftAdv,
.mediaget,                                                  /* rutor.org */
.PC_Links_Block,                                            /* nnm.ru */
.pricead,                                                   /* ferra.ru */
.rb_banner,                                                 /* mail.ru */
.reklam-block,
.reclama_v,                                                 /* programki.net */
.surbis_banner,                                             /* 74.ru */
.side-adv,                                                  /* gazeta.ru */
.shit_top,                                                  /* nulled.ws */
.text_adv,
.top_ad1,
.top-banner,
.top_banner,
.topBanner,
.adcolumn {                                                 /* facebook.com */
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

#ad-tower,
#ad_div,
#ad_billboard,                                              /* widelec.org */
#ad_ph_1,                                                   /* habrahabr.ru */
#adsdiv,                                                    /* yycast.com */
#adv,
#adv2,
#adv3,                                                      /* opennet.ru */
#advertisingLink,
#Advertisement,
#banner,
#banners,
#banner-top,                                                /* samlab.ws */
#bannertop,
#divFlashTeaser,
#ibp,
#IE8BarId_alt,
#fp_adv2,
#lite_top_banner,
#load_banner_2,
#mag_banner,
#pagelet_adbox,                                             /* facebook.ru */
#PopWin,
#reclama,
#reklama,
#sponsors,
#topbanner {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

[name='Adrotator1'],
[name='Ads'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

[class*='AdBar'],
[class*='ad_block'],
[class*='advertising'],
[class^='bnnr_bx_'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

[id^=DIV_NNN_],                                             /* soccer.ru */
[id*='AdBar'],
[id^='left_ban'],
[id*='MarketGid'],
[id*='rdm'] [class*='rdm'],
[id^='newclick'],
[id^='medialand_'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

[alt~='counter'], [alt~='counters'],
[alt*='Реклама'],
[alt*='Всего.RU'],
[alt*='баннер'],
[alt*='Информ-Телеком'],
[alt*='NetCatalog.Ru'],
[alt*='Top100'],
[alt*='HotLog'],
[alt*='M2K Network'],
[alt*='AdRiver'],
[alt*='RORER'],
[alt*='партнерка'],
[alt='Ads'],
[alt='Деловой баннерообмен'],
[alt='Рейтинг@Mail.ru'],
[alt='Рейтинг Mail.ru'],
[alt="Rambler's Top100"],
[alt='Игра Передовая'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}


/* AGGRESSIVE! */
/*
[href*='banner'], [src*='banner'],
[href*='ads2'],
div.ad,
div.ads_inner,
div[class^='banner'],
.counter {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

#Ads,
#leaderboard,
#top_adbn_div,
#page_footer,
#PopWin {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

[alt*='count']{
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}

*/


/* mozilla.org ;-p */
[href*='spreadfirefox.com/?q='], [src*='mozilla.org/affiliates/'] {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}


/****** Style for AllBlock.js  **********/
/*
.show {
	content:normal !important;
	color:inherit !important;
	background:inherit !important;
}
*/



/* Exceptions
-------------------------------- */

/* www.gismeteo.ru */
td[width='760'][height='90'] {
	display: table-cell !important
}

/* fileqube.com */
body.ads {
	display: block !important
}

/* irr.ru */
tr.default-row-2.advert, tr.premium-row-2.advert {
	display: table-row !important
}

/* MediaWiki (wikipedia.org, lurkmore.ru) 100x120, 120x100, 250x250 */
.infobox.vcard img,
.thumbinner .thumbimage,
.gallerybox .thumb a img {
	display: inline !important
}

/* google search */
#search li.g > .vsc a {
	display: inline !important
}

/* google images */
#ImgCont table a img,
img[id^='imgthumb'] {
	display: inline !important
}

/* HTML and CSS validators */
body > #banner:first-child {
	display: block !important
}

/* zhmak.info */
td[width='100'] + td[width='137'] + td {
	width: 100%
}

/* 101.ru */
#playercodeblockdc object, #playercodeblockdc embed {
	display: block !important
}

/* bbc.co.uk */
#blq-main > #banner {
	display: inherit !important
}

/* rbcdaily.ru */
td.banner + td.rightBg {                                    /* header width fix */
	display: none !important
}

/* skype.com */
.htmlInclude.banner {
	display: block !important
}

/* habrahabr.ru */
img[width='300'][height='250'][class='photo'] {             /*profile photo visibility fix */
	display: block !important
}

/* android.mobile-review.com */
[class='wp-caption aligncenter'] > img[width='240'][height='400'] {
	display: block !important
}

/* linux.org.ru: exception for mininews */
.newsblog-in > .infoblock[id^='topic-'] {
	display: block !important
}

/* Trac */
#ew-content > div#banner,                                   /* trac.edgewall.org */
/*body > div#banner:first-child,*/                          /* trac.buildbot.net, validator.w3.org */
body > #siteheader + div#banner,                            /* core.trac.wordpress.org */
body > #customheader + div#banner,                          /* trac.roundcube.net */
body > #uservoice-feedback + div#banner,                    /* tribler.org */
#sf_header + #doc3 > #bd > div#banner,                      /* sourceforge.net/apps/trac/sourceforge */
#container > #maincolumn > div#banner,                      /* trac.cyberduck.ch */
body > div.topdiv + div#banner {                            /* farbflash.org/trac/ILTable */
	display: block !important
}

/* cnews.ru */
img[src*='filearchive.cnews.ru'] {
	display: block !important
}

/* imdb.com */
#nb20.banner {
	display: block !important
}

/* rzd.ru */
body.indx .banner {
	display: block !important
}